<!-- SomePage.razor -->
 @page "/somepage"
@using BlazorApp_Login.Data;

<h3>Some Page</h3>

@* <UserDetail @class="some-css-class" user="user" DeleteUser="Delete" /> *@

@code {
    // Define someUser and HandleDelete method here
} 
